/*基础设置开始*/
body,html,table,tr,td,ul,ol,li,dl,dt,dd,img,div,p,input,em,a,button{margin: 0;padding: 0;}
h1,h2,h3,h4,h5,h6{margin: 0;padding: 0;}
ul,ol,li,dl,dt,dd{list-style: none;}
input,img,button{border: 0;}
body{font: 12px/22px "microsoft yahei";}
a{text-decoration: none;}
.left{float: left;}
.right{float: right;}
.clear:after{content: ".";display: block;clear:both;overflow: hidden;height: 0;visibility:hidden;}
/*基础设置结束*/
/* ==========================right============= */
.cedeBar_b{height:100%;width:250px;position: fixed;right:-215px ;top:0;z-index: 4444;background: #333}
.cedeBar{height:500px;}
.cedeBar_b ul{width:35px;background: #222;color:#fff;}
.cedeBar_b ul li{height:150px;font-size:20px;font-weight: bold;text-align: center;width:35px;overflow: hidden;}
.cedeBar_b ul li.active{background: #ce3c3b}
.cedeBar_b ul .fanhuiTop{font-size:16px;line-height: 150px}
.pink{width:215px;height:500px;position: relative;}
.cedeBar_RightA{position: absolute;}
.cedeBar_RightB{position: absolute;}
.cedeBar_RightC{position: absolute;}
.cedeBar_RightD{position: absolute;}
.fanhuiTop{width:37px;height:50px;position: fixed;right:0;bottom: 0;z-index: 9999;display: none}
.butn{width:37px;color:#fff;font-size:18px;font-weight: bold;line-height: 24px;cursor:pointer;}

/* ==================main=================== */
.mainWarip{width:100%;height:100%;background: #f6f6f6;}
.main{width:1190px;height:100%;margin:0 auto;}
/* ================maintop=================== */
.ertong{height:42px;line-height: 42px;color: #000;}
.ertong h3{width:75px;height:34px;border-bottom: 2px solid #000;margin-right:20px;}
.mainTop{height:212px;width:1190px;}
.nike{width:989px;height:211px;border-bottom: 1px solid #ccc;border-left:1px solid #ccc;}
.nike li{float: left;border-top:1px solid #ccc;border-right:1px solid #ccc;width:139px;height:69px;}
.nike li a{display: block;width: 130px;height:70px;}
.nike  li:hover {background: #eee}
.xinpin {text-align: left;background: #fff;}
.xinpin .nana{width: 188px;height: 66px;border: border:1px solid #f1f1f1;}
.xinpin .nana li{width: 188px;height:20px;line-height: 20px;list-style: square inside;color:#787878;margin-left: 8px }
.nana li a{color: #666}
.nana li a:hover{color:#f00;text-decoration: underline;}
.xinpin h2 a{width:190px;color:#414141;font-size:16px;line-height:34px;display: block;}
.xinpin h2 a span{color:#ccc;font-weight: 100;}
.xinpin h2 a em{font-style: normal;display: inline-block;width:20px;height:20px;background: #666;border-radius: 50%;color:#fff;line-height: 16px;text-align: center;font-size:16px;font-weight: bold;margin-left:5px;}
.picimg {padding: 3px;border: 2px solid #ccc;position: relative;overflow: hidden;}
.picimg li{height:104px;float: left;display: none}
.picimg li a{width:182px;height:104px;display: block;margin:2px;position: absolute;left: 0;top: 0;}
.picimg img{display: block;}
.xiaoyuan{width:60px;height:20px;position: absolute;right: 10px;bottom: 5px;}
.xiaoyuan span{display: inline-block;width:10px;height:10px;background:#666;margin:0 5px;}
.xiaoyuan span.active{background: #f00;width:15px;height:15px;}
/* =================maincen============================== */
.maincenter{height:292px;margin-top:10px;}
.maincenter img{display: block;}
.maincenter li {float: left;display: inline;width: 230px;height:290px;margin-right:8px;}
.maincenter li a{display: block;width: 230px;height:290px;overflow: hidden;}
.maincenter .lastImg{margin-right: 0}
.maincenter li a:hover{border:2px solid #f00;width: 226px;height:286px;}
.maincenter li a:hover img{display: block;margin:-2px;}
/* ========================manlouti======================== */
.louti1{height:426px;background: #fff;margin-top: 26px;overflow: hidden;}
.loutiL{width:190px;padding-right:10px;}
.loutiL_top{width:190px;height:60px;}
.fanzhuan{height:200px;width: 190px;margin-right: -5px}
.fanzhuan li{width:93px;height:39px;border-bottom:1px dashed #eee;border-right:1px dashed #eee;float: left;position: relative;overflow: hidden;} 
.fanzhuan li a{width:93px;height:39px;position:absolute;left:0px;top:0px;z-index:3;display: block;}
.fanzhuan li span{display: none;height:39px;width:93px;line-height: 40px;background: #653d0d;color:#fff;font-size:16px;text-align: center;font-weight: bold;position: absolute;left: 0;top: 0}
.snayecao{padding-top:10px;}
.snayecao a{display:inline-block;color:#666;line-height:28px;padding:0 20px;}
.snayecao a:hover{text-decoration:underline;}
.loutiCen{width:393px;position: relative;}
.loutiCen img{display: block;position: absolute;}
.loutiRig{width:598px;}
.loutiRig img{display: block;}
.picman{height:244px;border-bottom: 1px solid #eee;overflow: hidden;}
.picman a{display: inline-block;width:196px;height:244px;border-right:1px solid #eee;position: relative;}
.picman a img{display: block;width:188px;height:244px;position: absolute;margin-right:-1;right:0;bottom: 0}
.picman .lastB{border:0;}
.picnv{height:181px; overflow: hidden;}
.picnv a{display: inline-block;width:195px;height:181px;border-right:1px solid #eee;position: relative;}
.picnv a img{display: block;height:181px;position: absolute;margin-right:-1;right:0;bottom: 0}
.picnv .lastC{border:0;}
/* ===============================mignpai======================== */
.mingpai{height:143px;margin: 26px 0 0 0;margin-right:-1px;padding-bottom: 26px;background: #fff}
.sanye{border-left:1px solid #ccc;border-bottom: 1px solid #ccc}
.sanye li{float: left;width:118px;height:69px;border-top:1px solid #ccc;border-right:1px solid #eee;}
.sanye li a{display: block;width:117px;height:69px;}
.sanye li:hover{background: #eee}
/* =================================shangpin=================== */
.shangpin{height:205px;background: #fff;}
.xianTop{height:20px;line-height: 20px}
.xianL,.xianR{width: 533px;border:1px solid #999;margin-top:9px;}
.cent{display:inline-block;font-size:16px;color:#666;padding:0 28px;line-height: 20px}
.imgA{width:148px;height:188px;text-align: center;vertical-align: middle;margin-top:-20px;}
.imgA span{width:0;height:100%;display: inline-block;vertical-align:middle;}
.imgA a{display: block;height:118px;text-align: center;color:#000;}
.imgA a h3{font-size:14px;height:37px;margin-top:25px;}
.imgA a:hover{color:#f00;text-decoration: underline;}
.imgA a img{display: inline-block;width:80px;height:80px;}
.aA{height:60px;border-right:1px dashed #999;width:148px;margin-top:-10px;padding-top:10px;}
.aA a{float: left;display: inline-block;padding:0 15px;line-height: 17px;height:17px;color:#666;}
.bk{border:2px solid #ce3c3b;width:100%;margin: 20px 0 12px 0;}
/* ===================================foor======================== */
.footWarip{width:1190px;height:225px;margin:0 auto;}
.footWarip .f{float:left;height:135px;padding:60px 0 0 50px}
.footWarip .f1{width:210px;height:195px;border-right:1px solid #dedede;padding:0px 0px 0px 16px}
.footWarip .f1 .p1{text-indent:26px;background:url(img/t.png) no-repeat;color:#b4b4b4}
.footWarip .f1 .p1 span{font-weight:bolder;font-size:13px;color:#999}
.footWarip .f1 .p2{color:#bd0d18;font-style:italic;font-weight:900;font-size:17px}
.footWarip .f1 .p3{color:#b4b4b4}
.footWarip .f1 div{border:1px solid #d9d9d9;height:18px;width:78px;background:#fff url(img/ewm.png) no-repeat 9px 9px;padding-top:76px;text-align:center;margin:13px 16px 0 0}
.footWarip .f2{width:182px;background:url(img/2014052815002.png) no-repeat 50px 5px;border-left:1px solid #fff;}
.footWarip  h3{font-size:14px;color:#676767;font-weight:bold;line-height:30px;}
.footWarip  ul a{color:#989898;line-height:19px;}
.footWarip  ul a:hover{color:#52524f}
.footWarip .f3{width:179px;background:url(img/2014052815003.png) no-repeat 50px 5px;}
.footWarip .f4{width:186px;background:url(img/2014052815004.png) no-repeat 50px 5px}
.footWarip .f5{width:152px;background:url(img/2014052815005.png) no-repeat 50px 5px}